<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>	
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=PROG-6;Initial Catalog=TaskControl;Integrated Security=false;User ID=sa;password=optical" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<add key="RemoteServer" value="false"/>
		<add key="UId" value="ADMIN"/>
		<add key="Pass" value="("/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<add key="Tracing" value="True"/>
		<add key="View" value="True"/>
	</appSettings>
</configuration>
